*{
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Delius", cursive;
}
  .opacity {
    background: #000;
    position: absolute;
    opacity: 61%;
    width: 100vw;
    height: 100vh;
    filter: blur(4px);
    top :0;
    left : 0;
}
.divForm{
  display: grid;
  grid-template-columns: repeat(25,4%);
  grid-template-rows: repeat(25,4%);
  width: 100vw;
  height: 100vh;
  background-image: url('../../img/fondoResponsive.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.formLogin {
  grid-column: 4/span 17;
  grid-row: 9/span 18;
  display: flex;
  flex-direction: column;
  width: 112%;
  height: 68%;
  justify-content: space-around;
  z-index: 1;
  align-items: center;
}
.formLogin input{
  padding: 4% 6%;
  border-radius: 10px;
  font-size: 18px;
  color: black;
  border: none;
  text-align: center;
  width: 79%;
  position: relative;
}
.formLogin h1{
  color: rgb(41, 37, 37);
}
.btnLogin {
  color: rgb(41, 37, 37);
  padding: 15px;
  background-Color: #FAA30F;
  width: 91%;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: bolder;
}
.btnLogin:hover{
  background-Color: #db4a30;
  color: white;
}
.blurForm{
  top: 30%;
  left: 10%;
  background-color: #F8F9FA;
  position: absolute;
  opacity: 52%;
  width: 80%;
  height: 52%;
  border-radius: 25px;
}
.logo{
  z-index: 1;
  background-image: url('../../img/Logo.png');
  width: 100%;
  height: 26%;
  background-repeat: no-repeat;
  grid-column: 2/span 25;
  grid-row: 3/span 18;
  background-size: auto;
}
.eyeLogin{
  position: absolute;
    z-index: 1;
    background: none;
    border: none;
    width: 3%;
    height: 5%;
    left: 77%;
    top: 56%;
}
@media (min-width: 499px) and (max-width: 1000px) {
  .logo{
  background-size: cover;
  width: 83%;
  grid-column: 5/span 25;
  }
  .eyeLogin{
    left: 79%;
    top: 57%;
  }
}
@media (min-width: 1001px) and (max-width: 5000px) {
.divForm{
  background-image: url('../../img/burger.png');
}
.formLogin {
  grid-column: 16/span 25;
  grid-row: 10/span 18;
  width: 75%;
}
.blurForm{
  top: 33%;
  left: 60%;
  width: 30%;
}
.logo{
  width: 74%;
  height: 26%;
  grid-column: 16/span 18;
  grid-row: 4/span 18;
  background-size: cover;
}
.eyeLogin{
  left: 85%;
  top: 58%;
}
}