.containerProducts {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
.containerCard{
    background-color: fuchsia;
    width: 14%;
    height: 32%;
    margin: 2%;
}
.productName{
    background-color: white;
    width: 100%;
}
.productPrice{
    background-color: white;
    width: 100%;
}
.productImg{
    width: 76%;
    height: 70%;
}