.blurFormReg{
  top: 28%;
  left: 10%;
  background-color: #F8F9FA;
  position: absolute;
  opacity: 52%;
  width: 82%;
  height: 64%;
  border-radius: 25px;
}

.formRegister input{
  padding: 4% 6%;
  border-radius: 10px;
  font-size: 18px;
  color: black;
  border: none;
  text-align: center;
  width: 96%;
}
.btnRegister {
  color: rgb(41, 37, 37);
  padding: 15px;
  background-Color: #FAA30F;
  width: 108%;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  font-weight: bolder;
} 
.btnRegister:hover{
  background-Color: #db4a30;
  color: white;
}
.divFormRegister{
  display: grid;
  grid-template-columns: repeat(25,4%);
  grid-template-rows: repeat(25,4%);
  width: 100vw;
  height: 100vh;
  background-image: url('../../img/fondoResponsive.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.formRegister{
  grid-column: 6/span 19;
  grid-row: 8/span 18;
  display: flex;
  flex-direction: column;
  width: 81%;
  height: 85%;
  justify-content: space-around;
  z-index: 1;
  align-items: center;
}
.optionsSelect{
  width: 108%;
  padding: 4%;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}
.logoReg{
  z-index: 1;
  background-image: url('../../img/Logo.png');
  width: 100%;
  height: 26%;
  background-repeat: no-repeat;
  grid-column: 4/span 25;
  grid-row: 3/span 18;
  background-size: auto;
}
.eyeRegister{
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
  width: 3%;
  height: 5%;
  left: 73%;
  top: 57%;
}
.eyeRegisterConfig{
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
  width: 3%;
  height: 5%;
  left: 73%;
  top: 73%;
}
@media (min-width: 699px) and (max-width: 1200px) {
 .logoReg{
    background-size: cover;
    width: 83%;
    grid-column: 5/span 25;
    }
    .eyeRegister{
      left: 75%;
      top: 58%;
    }
    .eyeRegisterConfig{
      left: 75%;
      top: 74%;
    }
}
@media (min-width: 1201px) and (max-width: 5000px) {
  .logoReg{
    grid-column: 17/span 25;
  }
.blurFormReg{
  left: 62%;
  width: 30%;
  height: 67%;
}
.divFormRegister{
  background-image: url('../../img/burger.png');
}
.formRegister{
  grid-column: 17/span 26;
   width: 72%;
  height: 90%;
}
.eyeRegister{
  left: 87%;
  top: 60%;
}
.eyeRegisterConfig{
  left: 87%;
  top: 75%;
}
}